$break-md: 768px;

.container-app {
  @media (min-width: $break-md) {
    display: flex;
    min-height: 100vh;
  }

  .form-new-project {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    
    .input-text {
      background-color: $gray1;
      border: none;
      border-bottom: 1px solid $gray2;
      color: $gray2;
      outline-color: $border;
      padding: 1rem;
    }
  }

  .list-projects {
    li {
      margin-bottom: 2rem;
    }
  }

  .section-principal {
    flex: 1;
    
    .container-principal {
      padding: 4rem;
    }
  }
}
