.btn {
  margin-top: 2rem;
  font-family: $headingFont;
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $gray2;
  color: white;
  &:hover {
    background: $gray3;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}
